.modal-wrapper {
  &.styled {
    .modal {
      @media screen and (min-width: 992px) {
        &.show {
          overflow: visible !important;
          .close-modal {
            right: -35px !important;
            top: -5px !important;
            width: 28px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            color: white;
          }
        }
      }
    }
  }
}

.non-scroll {
  position: static !important;
  overflow: hidden !important;
}
